body {
    background-color: #4C2727;
}
.Logo {
    text-align: justify;
    width: 300px;
}
.Logo img {
    display: block;
    margin: 0 auto;
}
figcaption {
    text-align: center;
    padding-left: px;
    font-size: 35px;
    color: #E7DD8B;
    font-family: 'Courier New', Courier, monospace cursive;
}
body {
    margin: 0 auto;
    max-width: 80%;
}
#motto {
    position: absolute;
    width: 580px;
    height: 116px;
    left: 400px;
    top: 70px;
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
nav ul {
    list-style-type: none;
    background-color: #784C4C;

}
.Menu:hover a {
    display: inline-block;
}
.Menu a {
    display: none;
}

nav li {
    width: 200px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    color: whitesmoke;
    font-size: 20px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

main {
    color: whitesmoke;
}
.Intro {
    overflow: hidden;
}
.Box {
    width: 500px;
    background-color: #765C5C;
}
.Text {
    padding-left: 5px;
}

.description {
    font-size: 20px;
    padding-left: 5px;
    overflow: hidden;
}
#Restaurant {
    float: right;
    padding-top: 25px;
}
#Restaurant img {
    display: block;
    padding-bottom: 5px;
}
h1, li {
    color: whitesmoke;
}